<div>
    <h1>Todo List</h1>
    <form [formGroup]="todoForm" (submit)="addTodo()">
        <input type="text" formControlName="todo" placeholder="Todo1...">
        <button type="submit" [disabled]="!todoForm.valid">
            Ajouter
        </button>
    </form>
<br><br>
    <table >
        <thead style="font-size: 40px;">
            <th style="text-align:start;">
                Todo
            </th>
        </thead>

        <tbody style="font-size: 30px;">
            <tr *ngFor="let todo of todos">
                <td>
                    {{todo.todo}}
                </td>
                <td>
                    <a (click)="deleteTodo(todo.uid)">X</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>