<div>
    <div>
      <div>
        <h1>Réinitialiser le mot de passe</h1>
        <p>Veuillez saisir votre adresse e-mail pour demander une réinitialisation du mot de passe.</p>
        <div>
          <input type="email" placeholder="Enter l'adresse email" #passwordResetEmail required>
        </div>
        <div>
          <button type="button" (click)="authService.ForgotPassword(passwordResetEmail.value)">Réinitialiser le mot de passe</button>
        </div>
      </div>
      <br>
      <div>
        <span>Revenir à la connexion?<a routerLink="/sign-in"> S'identifier</a></span>
    </div>
    </div>
  </div>
