<div>
    <span class="error" *ngIf="errorMessage">
        {{errorMessage}}
    </span>
    <div>
        <h1>S'identifier</h1>
        <div>
            <input type="text" class="formControl" placeholder="Enter ton E-mail" #userName required>
        </div>
        <div>
            <input type="password" class="formControl" placeholder="Enter ton mot de passe" #userPassword required>
        </div>
        <div>
            <button type="button" class="btn btnPrimary" value="Log in"
                (click)="signIn(userName.value, userPassword.value)">Se connecter</button>
        </div>
        <br>
        <div class="line"> </div>
        <br>
        <div>
            <button type="button" class="google-btn" (click)="authService.GoogleAuth()">
                <img src="../../../assets/images/google-logo.png" alt="Google Logo" class="google-logo">
                Se connecter avec Google
            </button>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div>
            <span>Mot de passe oublié? <a routerLink="/forgot-password">Réinitialiser le mot de passe</a></span>
        </div>
        <span>Vous n'avez pas de compte ?
            <a [routerLink]="['/sign-up']"> Crée un compte</a>
        </span>
    </div>
</div>